/*Adding special font to view the icons*/
@font-face {
	font-family: 'icons';
	src: url('../font/icons.eot?34439810');
	src: url('../font/icons.eot?34439810#iefix') format('embedded-opentype'),
		url('../font/icons.woff?34439810') format('woff'),
		url('../font/icons.ttf?34439810') format('truetype'),
		url('../font/icons.svg?34439810#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
 
[class^="fi-"]:before, [class*=" fi-"]:before {
	font-family: "icons";
	font-size: 50px;
 	color: white;
	display: inline-block;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  	line-height: 77px;
}
 
/*Content for separate icons*/
.fi-home:before { content: '\e800';}
.fi-cup:before { content: '\e801';}
.fi-mail:before { content: '\e802';}
.fi-music:before { content: '\e803';}
.fi-cloud:before { content: '\e804';}
.fi-hourglass:before { content: '\e805';}
.fi-info:before { content: '\e806';}
.fi-pencil:before { content: '\e807';}
.fi-feather:before { content: '\e808';}

.icons {
	position: relative;
	list-style-type: none;	
	margin: auto; 
	width: 300px;
}

/* How the blocks are displayed inside the list */
.icon_position {
	width: 77px;
	height: 77px;
	background-repeat: no-repeat;
	background-position: center;
}

.icons__item {
	display: inline-block;
	margin: 5px 5px;
	box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.3), 0px 2px 5px 0 rgba(255,255,255,0.3) inset;
	background: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(0,0,0,0.2));
	width: 77px;
	height: 77px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	text-align: center;
}

.icons__item:hover {
	transition: all 0.3s ease-in 0.01s;
	-webkit-transition: all 0.4s ease-in 0.1s; /* For proper work in Safari  */
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-moz-transform: scale(1.3);
	box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.3), 0px 2px 5px 0 rgba(255,255,255,0.3) inset, 0 0 90px 90px rgba(255,255,255,0.6);
}

/* Separate properties for every icon*/
.icon_purple { background-color: #00d21e;}
.icon_red { background-color: #b50000;}
.icon_yellow { background-color: #ffc600;}
.icon_grey { background-color: #9e9e9e;}
.icon_blue { background-color: #007ac8;}
.icon_violet { background-color: #ff00ea;}
.icon_green { background-color: #00dc29; }
.icon_bright-blue { background-color: #00f6ff;}
.icon_dark-purple {	background-color: #b500a6; }